body{
    margin: 0%;
}
.test{
    width: 1398px;
    height: 30px;
    border: 1px solid;
    text-align: center;
    font-size: x-large;
    font-style: italic;
    font-weight: bold;
    background-image: linear-gradient(
        to right,
        red,
        green,
        yellowgreen

    )
}
.test2{
    width: 800px;
    height: 50px;
    margin-left: 284px;
    background-color:lightskyblue;
    border:5px solid red;
    padding-top: -4px;
    margin-top: 20px;
    border-radius: 20px;
    text-align: center;
    text-size-adjust: 2px;
    padding-bottom: 20px;
    justify-content: center;
}
.container1{
    width: 1398px;
    height: 189px;
    border-radius: 20px;
    border: 2px solid;
    margin-top: 30px;
    background-color:springgreen;
}
.item{
    border: 2px solid green;
    background-color:aqua;
    height: 90px;
    width: 410px;
    padding: 0%;
    border-radius: 20px;
    font-weight: bolder;
}
#item-1{
    text-align: justify;
    margin:0px;
}
#item-2{
    text-align: justify;
    margin-left:471px;
    margin-top: -93px;
}
#item-3{
    text-align: justify;
    margin-left:471px;
    margin-bottom: 0px;
    
}
#item-4{
    
    margin-left:984px;
    margin-top: -191px;
}
.test3{
    width: 1398px;
    height: 30px;
    border: 1px solid;
    text-align: center;
    font-size: x-large;
    font-style: italic;
    font-weight: bold;
    margin-top: 20px;
    background-image: linear-gradient(
        to right,
        red,
        gold,
        red
    );
    
}
.container2{
    width: 1199px;
    height: 150px;
    margin-top: 30px;
    border-radius: 20px;
    margin-right: 38px;;
    padding: 100px;
    border: 2px solid green;
    background-image: radial-gradient(
        
        darkblue,
        skyblue ,
        green
    
    );
    
}
.box{
    border: 2px solid  red;
    background-color:yellow;
    height: 100px;
    width: 206px;
    padding: 2px;
    border-radius: 20px;
    font-weight: bolder;
    text-align: center;
    padding: 20px;

}
#box1{
    margin-right: 30px;
    padding-top: 20px;
}
#box2{
    margin-left: 310px;
    margin-top:-143px;
    
}
#box3{
    margin-left:615px ;
    margin-top: -140px;
}
#box4{
    margin-left:928px;
    margin-top: -136px;

}.section1 {
    margin: 1px;
    padding: 13px;
    color: white;
    text-align: center;
    background-color: crimson;
    height: 7vh;
  }
  .section2 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 1px;
    color: white;
    font-weight: bold;
  }
  
  .box3 {
    float: right;
    clear: both;
    background-color:lightgreen;
  }
  .section3 {
    background-color: orange;
    color: white;
    text-align: left;
    width: 100%;
    grid-column-end: span 3;
    grid-row-end: span 2;
    padding-bottom: 10px;
    font-weight: bold;
  }
  .box8{
    background-color: black;
    color: white;
  
    grid-row-end: span 3;
    text-decoration: 2px underline;
  }

  .section4 {
    margin: 1px;
    text-align: center;
    text-transform: uppercase;
    background-color: aqua;
  }



